name: Deploy to Cloud Run

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production 

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: 'Deploy to Cloud Run'
      uses: 'google-github-actions/deploy-cloudrun@v2'
      with:
        service: 'stocknotificator'
        region: 'asia-east1'
        source: './Server'
        env_vars: |
          REDIS_HOST=${{ secrets.REDIS_HOST }}
          REDIS_TOKEN=${{ secrets.REDIS_TOKEN }}
          TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }}
          FIRESTORE_PROJECT_ID=${{ secrets.FIRESTORE_PROJECT_ID }}
          JWT_KEY=${{ secrets.JWT_KEY }}
          SYSTEMJOB_KEY=${{ secrets.SYSTEMJOB_KEY}}
